@charset "utf-8";
/*body*/

.userck{
	float: right;
	width: 100%;
	text-align: right;
}
.btnck{
	width: 8%;
	float: right;
	
}


/*content*/
.content{
	width: 100%;
	text-align: center;
}
.p1{
	color: #fff;
	font-weight: bold;
	font-size: 28px;
	text-align: undefined;
	margin-top: 75px;
	padding-left: 40%;
	letter-spacing: 4px;
}
textarea{
	background: #B2EBF2;
	font-size: 20px;
	width: 50%;
	margin-left: 25%;
	height: 100px;
	border: hidden;
	border-radius: 5px;
}
button{
	background: #B2EBF2;
	font-size: 16px;
	border:hidden;
	width: 12%;
	height: 30px;
	border-radius: 5px;
}
button:hover{
	background: #757575;
	color: aliceblue;
}

.btn1{
	background: #B2EBF2;
	font-size: 18px;
	width: 15%;
	margin-left: 60%;
	margin-top: 8px;
	height: 35px;
	border: hidden;
	border-radius: 5px;
}
.items{
	background: #B2EBF2;
	border-radius: 5px;
	margin-left: 27.3%;
	width: 42%;
	list-style-type: none;
	text-align: left;
}
